/* :root{
    define variables here like color
} */


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: peachpuff;
    height: 100vh;
    font-family: 'Outfit', sans-serif;

}

.grid-container {
    margin: 10px;
    padding: 20px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: white;
    gap: 15px;
    border: 1px solid black;
    align-items: center;
} 

/* .grid-container > * {
    display: grid;
    padding: 10px;
} */

.title {
    font-size: 30px;
    grid-column: 2;
    grid-row: 1;
}

.rules {
    grid-column: 2;
    grid-row: 2 / 7;
    font-size: 12px;
    align-self: start;
}

.p-count {
    display: flex;
    font-size: 12px;
    grid-column: 1;
    grid-row: 1;
}

.c-count {
    display: flex;
    font-size: 12px;
    grid-column: -1;
    grid-row: 1;
}

#p-score, #c-score {
    font-size: 35px;
}

#master-deck {
    display: grid;
    margin: auto;
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}

.p-piles {
    display: flex;
    grid-column: 2;
    grid-row: 5;
    margin: auto;
}
.c-piles {
    grid-column: 5;
    grid-row: 2;
    margin: auto;
}

#p-hand {
    grid-column: 3;
    grid-row: 1 / 7;
    min-width: 125px;
    display: grid;
    justify-self: center;
}

#c-hand {
    grid-column: 4;
    grid-row: 1 / 7;
    min-width: 125px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#button {
    grid-column: 3;
    grid-row: 6;
    align-self: end;
}
#run-end-game {
    grid-column: 4;
    grid-row: 6;
    align-self: end;
}


/* I added this class to the end of the cards class name for testing hover and spacing*/
.pile {
    margin-left: -2rem;
}
.pile:hover {
    transition: 0.2s;
    transform: translateY(-.5rem);
    
}
