body, html {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    background-color: khaki;
}

header {
    display: flex;
    width: 100%;
    height: 75px;
    /* background-color:turquoise; */
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 60px;
}


/* rules section start -------- */
.rules {
    display: flex;
    width: 100%;
    /* background-color: blue; */
    /* color: white; */
    flex-basis: auto;
}

.rules > * {
    padding-left: 10px;
    padding-right: 15x;
    margin: 10px;
}

.rules div {
    align-self: flex-start;
    font-size: 30px;
    padding-top: 13px;
}

.rules p {
    font-size: 1em;
    padding: 15px;
}

.rules span {
    text-decoration: underline;
    font-size: 20px;
}




/* scores section start --------- */
/* need so much work here */

.scores {
    display: flex;
    width: 100%;
    height: 100px;
    /* background-color:greenyellow; */
    justify-content: space-between;
    align-items: flex-end;
}

.p-count {
    opacity: 0;
    text-align: left;
    padding-left: 10px;
    /* padding-bottom: 10px; */
}

#p-score {
    opacity: 1;
    font-size: 40px;
    /* align-self: flex-start; */
}

.c-count {
    opacity: 0;
    text-align: right;
    padding-right: 10px;
    /* padding-bottom: 10px; */
}

#c-score {
    opacity: 1;
    font-size: 40px;
}

#button {
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color:sandybrown;
    border-radius: 4px;
    min-width: 300px;
}

#button:hover {
    transition: 0.2s;
    transform: translateY(-.3rem);
}




/* game board start ---------- */

.game-board {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 15px;
}

/* this is saying all items/columns are equal size and will grow/shrink at the same rate. */
.game-board > * {
    flex: 1 1 0px;
}

.column:last-child {
    text-align: right;
}

#p-pile, #c-pile {
    opacity: 0;
}

#p-hand, #c-hand {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
}
#p-card0, #c-card0 {
    grid-column: 1;
}
#p-card1, #c-card1 {
    grid-column: 1;
    margin-top: -100px;
}
#p-card2, #c-card2 {
    grid-column: 1;
    margin-top: -125px;
}
#p-card3, #c-card3 {
    grid-column: 1;
    margin-top: -125px;
}
#p-card4, #c-card4 {
    grid-column: 1;
    margin-top: -125px;
}

.winner-message {
    font-size: 40px;
    color: red;
    text-align: center;
    justify-content: center;
}

#p-win-message, #c-win-message {
    font-size: 20px;
    color: red;
    padding-top: 15px;
}


@media only screen and (max-width: 960px) {
    .card {
      width:2.5em;
      height:3.4375em;
    }
  }

@media only screen and (max-width: 600px) {
    .card {
      width:2.55em;
      height:3.5em;
    }
}


